.tf-tree {
    font-size: 14px;
    overflow: auto;
    position: absolute;
}

.tf-tree * {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.tf-tree ul {
    display: inline-flex
}

.tf-tree li {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 16px;
    position: relative
}

.tf-tree li ul {
    margin: 32px 0
}


.tf-tree li li:before {
    border-top: 1px solid #000;
    content: "";
    display: block;
    height: 1px;
    left: -0.5px;
    position: absolute;
    top: -16.5px;
    width: 100%
}

.tf-tree li li:first-child:before {
    left: calc(50% - 0.5px);
    max-width: calc(50% + 1px);
    
}

.tf-tree li li:last-child:before {
    left: auto;
    max-width: calc(50% + 1px);
    right: calc(50% - 0.5px)
}

.tf-tree li li:only-child:before {
    display: none
}

.tf-tree li li:only-child>.tf-nc:before,
.tf-tree li li:only-child>.tf-node-content:before {
    height: 11px;
    top: -11px
}

.tf-tree .tf-nc,
.tf-tree .tf-node-content {
    /* border: 1px solid #000;  */
    display: inline-block;
    padding: 8px 16px;
    position: relative
}

.tf-tree .tf-nc:before,
.tf-tree .tf-node-content:before {
    top: -16.5px
}

.tf-tree .tf-nc:after,
.tf-tree .tf-nc:before,
.tf-tree .tf-node-content:after,
.tf-tree .tf-node-content:before {
    border-left: 1px solid #000;
    content: "";
    display: block;
    height: 16px;
    left: calc(50% - 0.5px);
    position: absolute;
    width: 1px;
    border-right: 0.976px solid #000;
    right: calc(50% - 0.5px);
}
.tf-nc-first:after {
    height: 21px !important;
}

.tf-tree .tf-nc-a:after{
    border-left: 1px solid #000;
    content: "";
    display: block;
    height: 16px;
    left: calc(50% - 0.5px);
    position: absolute;
    width: 1px;
    border-right: 0.976px solid #000;
    right: calc(50% - 0.5px);
}

.tf-tree .tf-nc:after,
.tf-tree .tf-node-content:after {
    top: calc(100% + 0.5px)
}

.tf-tree .tf-nc:only-child:after,
.tf-tree .tf-node-content:only-child:after,
.tf-tree>ul>li>.tf-nc:before,
.tf-tree>ul>li>.tf-node-content:before {
    display: none
}

.tf-tree.tf-gap-sm li {
    padding: 0 9.6px
}

.tf-tree.tf-gap-sm li>.tf-nc:before,
.tf-tree.tf-gap-sm li>.tf-node-content:before {
    height: 9.6px;
    top: -9.6px
}

.tf-tree.tf-gap-sm li>.tf-nc:after,
.tf-tree.tf-gap-sm li>.tf-node-content:after {
    height: 9.6px
}

.tf-tree.tf-gap-sm li ul {
    margin: 1.32px 0
}

.tf-tree.tf-gap-sm li li:before {
    top: -10.1px
}

.tf-tree.tf-gap-sm li li:only-child>.tf-nc:before,
.tf-tree.tf-gap-sm li li:only-child>.tf-node-content:before {
    height: 10.6px;
    top: -10.6px
}

.tf-tree.tf-gap-lg li {
    padding: 0 24px
}

.tf-tree.tf-gap-lg li>.tf-nc:before,
.tf-tree.tf-gap-lg li>.tf-node-content:before {
    height: 24px;
    top: -24px
}

.tf-tree.tf-gap-lg li>.tf-nc:after,
.tf-tree.tf-gap-lg li>.tf-node-content:after {
    height: 24px
}

.tf-tree.tf-gap-lg li ul {
    margin: 48px 0
}

.tf-tree.tf-gap-lg li li:before {
    top: -24.5px
}

.tf-tree.tf-gap-lg li li:only-child>.tf-nc:before,
.tf-tree.tf-gap-lg li li:only-child>.tf-node-content:before {
    height: 25px;
    top: -25px
}

.tf-tree li.tf-dotted-children .tf-nc:after,
.tf-tree li.tf-dotted-children .tf-nc:before,
.tf-tree li.tf-dotted-children .tf-node-content:after,
.tf-tree li.tf-dotted-children .tf-node-content:before {
    border-left-style: dotted
}

.tf-tree li.tf-dotted-children li:before {
    border-top-style: dotted
}

.tf-tree li.tf-dotted-children>.tf-nc:before,
.tf-tree li.tf-dotted-children>.tf-node-content:before {
    border-left-style: solid
}

.tf-tree li.tf-dashed-children .tf-nc:after,
.tf-tree li.tf-dashed-children .tf-nc:before,
.tf-tree li.tf-dashed-children .tf-node-content:after,
.tf-tree li.tf-dashed-children .tf-node-content:before {
    border-left-style: dashed
}

.tf-tree li.tf-dashed-children li:before {
    border-top-style: dashed
}

.tf-tree li.tf-dashed-children>.tf-nc:before,
.tf-tree li.tf-dashed-children>.tf-node-content:before {
    border-left-style: solid
}

.tf-nc {
    border-radius: 1vh;
    background-color: #d5e0ee;
    padding: 1vh;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    /* border: 1px solid rgb(33, 110, 173); */
    padding: 10px;
    color: #303a77;
    text-align: center;
}

.tf-custom .tf-nc:before,
.tf-custom .tf-nc:after {
    /* css here */
}

.tf-custom li li:before {
    /* css here */
}

body {
    margin-top: 1% !important;
    margin-bottom: 100% !important;
    font-size: 14px;
    ;
}

a {
    color: #303a77;
    text-decoration: none !important;
}

.container {
    overflow: hidden;
}

.tf-tree::-webkit-scrollbar {
    display: none;
}